extends layout

block content

  header 
    h2 자료관리 페이지
  
    ul
      li
        a(href="books/serch") 자료검색
      li
        a(href="books/register") 자료등록  
      li
        a(href="books/modify") 자료수정
      li
        a(href="books/delete") 자료삭제
