extends layout

block content

  header 
    h2 회원관리 페이지
  
    ul
      li
        a(href="members/serch") 회원검색
      li
        a(href="members/register") 회원등록  
      li
        a(href="members/modify") 회원수정
      li
        a(href="members/delete") 회원삭제
      li
        a(href="members/overdue") 연체회원 관리 
