extends layout

block content

  header
    h2 Book delete
  
  section
    acticle
      form(method="post")
        div
          label(for="Serch") 도서 자료 삭제
          input(name="Serch" type="text" placeholder="검색하세요.")
        button(type="submit" name="button") 삭제
    article
      div
        table
