extends layout

block content

  header
    h2 Book Serch
  
  section
    acticle
      form(method="post")
        div
          label(for="RECORD_ID") 도서 반납
          input(name="RECORD_ID" type="text" placeholder="RECORD_ID")
          button(type="submit" name="button") 반납 
    article
    
        
