extends layout

block content

  header
    h2 Lending Recent
  
  section
    acticle
      form(method="post")
        div
          h2 도서 대출 현황 
    article
      div
        table
      
        
