extends layout

block content

  header
    h2 Lending add
  
  section
    acticle
      form(method="post")
        h2 도서 대출 등록 
        div
          label(for="LIBRARY_ID") 회원 id
          input(name="LIBRARY_ID" type="text" placeholder="member id")
          label(for="RECORD_ID") 회원 id
          input(name="RECORD_ID" type="text" placeholder="record id")
        button(type="submit" name="button") 대출 
    article
      div
        table
    
        
