extends layout

block content

  header 
    h2 대출반납 관리 페이지
  
    ul
      li
        a(href="lendings/register") 대출등록
      li
        a(href="lendings/return") 반납등록 
      li
        a(href="lendings/current") 현재 대출중인 목록
      li
        a(href="lendings/recent") 대출반납 목록
      li
        a(href="lendings/holiday") 휴관일 관리
