extends layout

block content

  header
    h2 Hoilday Setting
  
  section
    acticle
      form(method="post")
        div
          label(for="Serch") 휴관일 설정 
          input(name="Serch" type="date" placeholder="설정하세요.")
        button(type="submit" name="button") 설정 
    article
      div
        table
    
        
