extends layout

block content

  header
    h2 Member Delete
  
  section
    acticle
      form(method="post")
        label(for="Serch") 이용자 삭제 (아이디)
        input(name="Serch" type="text" placeholder="검색하세요.")
      button(type="submit" name="button") 삭제
