extends layout

block content

  header
    h2 Member Modify
  
    section
      acticle
        form(method="post")
          label(for="id") 아이디 
          input(name="id" type="text" placeholder="id")
          label(for="passwd") 비밀번호 
          input(name="passwd" type="text" placeholder="passwd")
          label(for="kor_name") 한국이름
          input(name="kor_name" type="text" placeholder="id")
          label(for="eng_name") 영어이름 
          input(name="eng_name" type="text" placeholder="id")
          label(for="sex") 성별 
          input(name="sex" type="text" placeholder="id")
          label(for="home_num") 집번호 
          input(name="home_num" type="text" placeholder="id")
          label(for="phone_num") 휴대폰 번호 
          input(name="phone_num" type="text" placeholder="id")
          label(for="home_address") 집주소 
          input(name="home_address" type="text" placeholder="id")
          label(for="final_scholarship") 최종학력
          input(name="final_scholarship" type="text" placeholder="id")
          label(for="degree") 학위
          input(name="degree" type="text" placeholder="id")
          label(for="gradation") 졸업일
          input(name="gradation" type="text" placeholder="id")
          label(for="school_name") 학교 이름
          input(name="school_name" type="text" placeholder="id")
          label(for="work_name") 직장 이름
          input(name="work_name" type="text" placeholder="id")
          label(for="work_duty") 직위
          input(name="work_duty" type="text" placeholder="id")
          label(for="work_num") 직장 전화번호
          input(name="work_num" type="text" placeholder="id")
          label(for="work_address") 직장 주소
          input(name="work_address" type="text" placeholder="id")
          button(type="submit" name="button") 등록 
      article
        div
        
