extends layout

block content
  header
    h2 회원 페이지
    ul
      li #{name}
      li
        a(href="my_page") 마이페이지
      li
        a(href="logout") 로그아웃
  nav
    ul
      li
        a(href="book_serch") 도서관 자료 검색
