extends layout

block content

  header
    h2 Member Modify
  
    section
      h2 회원 수정
      acticle
        form(method="post")
          label(for="LIBRARY_ID") 아이디 
          input(name="LIBRARY_ID" type="text" placeholder="id")
          label(for="passwd") 비밀번호 
          input(name="passwd" type="text" placeholder="pw")
          label(for="name") 이름 
          input(name="name" type="text" placeholder="name")
          label(for="email")  
          input(name="email" type="text" placeholder="email")
          label(for="phone_num_1") 휴대폰 번호 
          input(name="phone_num_1" type="text" placeholder="010")
          input(name="phone_num_2" type="text" placeholder="0000")
          input(name="phone_num_3" type="text" placeholder="0000")
          label(for="MEMBERSHIP_FLAG") 멤버쉽 플래그
          input(name="MEMBERSHIP_FLAG" type="text" placeholder="membership flag")
          label(for="MEMBERSHIP_GROUP")  멤버쉽 그룹
          input(name="MEMBERSHIP_GROUP" type="text" placeholder="membership_group")
          label(for="MEMBERSHIP_LENDWEEK") 멤버쉽 대출 기간 
          input(name="MEMBERSHIP_LENDWEEK" type="text" placeholder="membership lendweek")
          label(for="REMARK") 주석 
          input(name="REMARK" type="text" placeholder="remark")
          label(for="MEMBERSHIP_DELAY") 멤버쉽 지연일 
          input(name="MEMBERSHIP_DELAY" type="text" placeholder="membership delay")
          label(for="DELETE_FLAG") 딜리트 플래그 
          input(name="DELETE_FLAG" type="text" placeholder="delete_flag")
          label(for="FAMLIY") 가족 
          input(name="FAMILY" type="text" placeholder="family")    
          button(type="submit" name="button") 등록 
      article
        div
        
