extends layout

block content
  header
    h2 회원 페이지
    ul
      li #{name}
      li
        a(href="my_page") 마이페이지
      li
        a(href="logout") 로그아웃
  nav
    ul
      li
        a(href="book_serch") 도서관 자료 검색
        
  section
    article
      div
        h2 현재 대출중인 도서
        table
          th
            td 번호
            td 제목
          -for(i=0;i<data.length;i++) { user = data[i];
            tr
              td #{i+1}.
              td #{user}
          -}
